extends layout

block content
  if account.isContract
    h3 Contract #{account.address}
  else
    h3 Account #{account.address}
  table.table
    if account.clickCoins
    tr
      td СlickCoins:
      td #{account.clickCoins}
    if account.name
      tr
        td Name:
        td #{account.name}

  div
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#transactions', aria-controls='transactions', role='tab', data-toggle='tab') Transactions
      li(role='presentation')
        a(href='#events', aria-controls='events', role='tab', data-toggle='tab') Events
    .tab-content
      #transactions.tab-pane.active(role='tabpanel')
        h3 Recent Transactions
        table.table
          thead
            tr
              th Block
              th Time
              th Type
              th Hash
            tbody
              for tx in account.txs
                tr
                  td
                    a(href="/block/" + tx.block)  #{tx.block}
                  td #{tx.timestamp}
                  td #{tx.type}
                  td
                    a(href="/tx/" + tx.hash)  #{tx.hash}
      #events.tab-pane(role='tabpanel')
        h3 Recent Events
        table.table
          thead
            tr
              th Block
              th Time
              th Tx Hash
              th From
              th To
              th Value
              th Fee
            tbody
              for event in account.events
                tr
                  td
                    a(href="/block/" + event.height) #{event.height}
                  td #{event.timestamp}
                  td
                    a(href="/tx/" + event.hash) #{event.hash.substr(0, 10)}...
                  td
                    a(href="/account/" + event.addressFrom) #{event.addressFrom}
                  td
                    a(href="/account/" + event.addressTo) #{event.addressTo}
                  td #{event.value}
                  td #{event.fee}