extends layout

block content
  h3 Transaction #{tx.hash}
  table.table
    tr
      td Hash: 
      td
        a(href="/tx/" + tx.hash) #{tx.hash}
    tr
      td Block hash: 
      td
        a(href="/block/" + tx.blockHash) #{tx.blockHash}
    tr
      td Block number: 
      td
        a(href="/block/" + tx.blockNumber) #{tx.blockNumber}
    tr
      td From:
      td
        a(href="/account/" + tx.from) #{nameformatter.format(tx.from)}
    tr
      td To:
      td
        if tx.to
          a(href="/account/" + tx.to) #{nameformatter.format(tx.to)}
        else
          | New Contract
    if tx.callInfo
      tr
        td Function Name:
        td #{tx.callInfo.name}
      tr
        td Parameters:
        td
          table.table
            thead
              tr
                th Name
                th Type
                th Value
            tbody
              for pa in tx.callInfo.params
                tr
                  td #{pa.name}
                  td #{pa.type}
                  if pa.type === "bytes" && pa.value
                    td
                      pre 0x#{pa.value.toString("hex")}
                  else if pa.type === "uint256" && pa.value
                    td.parameter-cell #{pa.value.toString(10)}
                  else                    
                    td.parameter-cell #{JSON.stringify(pa.value, null, 2)}
    if tx.logs
      tr
        td Events:
        td
          for log in tx.logs
            table.table
              thead
                tr
                  th Name
                  th Events
                  th Address
              tbody
                tr
                  td #{log.name}
                  td
                    table.table
                      thead
                        tr
                          th Name
                          th Type
                          th Value
                      tbody
                        for event in log.events
                          tr
                            td #{event.name}
                            td #{event.type}
                            td #{event.value}
                  td #{log.address}
    tr
      td Data:
      td
        pre #{tx.input}
    tr
      td Raw Decoded data:
      td
        pre #{tx.decoded}
    tr
      td Operation:
      td #{tx.operation}
    if tx.internalGameId
      tr
        td Internal game ID:
        td #{tx.internalGameId}
    if tx.gamers
      tr
        td Gamers:
          td
            for gamer in tx.gamers
              a(href="/account/" + gamer) #{gamer}
              br
    if tx.winners
      tr
        td Winners:
          td
            for gamer in tx.winners
              a(href="/account/" + gamer) #{gamer}
              br
    if tx.bet
      tr
        td Bet:
        td #{tx.bet}
    if tx.sender
      tr
        td Sender address:
        td
          a(href="/account/" + tx.sender) #{tx.sender}
    if tx.recipient
      tr
        td Recipient address:
        td
          a(href="/account/" + tx.recipient) #{tx.recipient}
    if tx.coinsTransferred
      tr
        td Amount of ClickCoins transferred:
        td #{tx.coinsTransferred}

    if tx.refunders
      tr
        td Refund addresses:
          td
            for gamer in tx.refunders
              a(href="/account/" + gamer) #{gamer}
              br
    if tx.abusers
      tr
        td Abusers addresses:
          td
            for gamer in tx.abusers
              a(href="/account/" + gamer) #{gamer}
              br
    if tx.refundAmount
      tr
        td Amount of ClickCoins refunded:
        td #{tx.refundAmount}
    if tx.internalCaseId
      tr
        td Internal case ID:
        td #{tx.internalCaseId}

  a(href="/tx/raw/" + tx.hash) Raw Trace

  if tx.events
    h4 Events
    table.table
      thead
        tr
          th Block
          th Time
          th From
          th To
          th Value
          th Fee
      tbody
        for event in tx.events
          tr
            td
              a(href="/block/" + event.height) #{event.height}
            td #{event.timestamp}
            td
              a(href="/account/" + event.addressFrom) #{event.addressFrom}
            td
              a(href="/account/" + event.addressTo) #{event.addressTo}
            td #{event.value}
            td #{event.fee}

  h4 Internal Transactions
  table.table
    thead
      tr
        th
        th Type
        th From
        th To
        th Amount
    tbody
      for trace in tx.traces
        tr
          td.text-right
            if trace.error
              span(style="color: red", data-toggle="tooltip", data-placement="left", title=trace.error).glyphicon.glyphicon-warning-sign
              |  
          td.capitalize #{trace.type}
          if trace.type === "call"
            td
              a(href="/account/" + trace.action.from) #{nameformatter.format(trace.action.from)}
            td 
              a(href="/account/" + trace.action.to) #{nameformatter.format(trace.action.to)}
            td #{ethformatter(trace.action.value)}
          else if trace.type === "create"
            td
              a(href="/account/" + trace.action.from) #{nameformatter.format(trace.action.from)}
            td
              if trace.result
                a(href="/account/" + trace.result.address) #{nameformatter.format(trace.result.address)}
              else
                div #{'-'}
            td #{ethformatter(trace.action.value)}
          else if trace.type === "suicide"
            td
              a(href="/account/" + trace.action.address) #{nameformatter.format(trace.action.address)}
            td
              a(href="/account/" + trace.action.refundAddress) #{nameformatter.format(trace.action.refundAddress)}
            td #{ethformatter(trace.action.balance)}
