//- Pagination
mixin pagination(active, last, url)
    //- active - active page
    //- last - last page
    //- url - page url
    .pagination
        - var activeNum = Number(active)
        - var lastNum = Number(last)
        //- prev arrow
        if (activeNum !== 1)
            a(href=`?page=${activeNum-1}` title='Prev page').pagination__prev.icon-pagination-prev ◀
        else

        - var before = activeNum - 2 > 0 ? activeNum - 2 : 1
        - var after = activeNum + 2 <= last ? activeNum + 2 : last
        ul.pagination__list
            if (before > 1)
                li.pagination__item
                    a(href=`?page=${1}` title=(`Go to page ${1}`)).pagination__number=1

            if (before > 2)
                li.pagination__item ...

            - for (var index = before; index < activeNum; index++)
                li.pagination__item
                    a(href=`?page=${Number(index)}` title=(`Go to page ${index}`)).pagination__number=index

            li.pagination__item.is-active
                a(href=`?page=${Number(activeNum)}` title=(`Current page ${index}`)).pagination__number=activeNum

            - for (var index = (activeNum + 1); index <= after; index++)
                li.pagination__item
                    a(href=`?page=${Number(index)}` title=(`Go to page ${index}`)).pagination__number=index

            if (after < lastNum-1)
                li.pagination__item ...

            if (after < lastNum)
                li.pagination__item
                    a(href=`?page=${Number(lastNum)}` title=(`Go to page ${lastNum}`)).pagination__number=lastNum

        //- next arrow
        if (activeNum !== lastNum && lastNum > 0)
            a(href=`?page=${activeNum+1}` title='Next page').pagination__next.icon-pagination-next ▶
        else

        br
        form.pagination__frm(action=url, method='GET')
            input.pagination__input(type=text, name='page', value=activeNum, size=4)
            input.btn.pagination__btn(type='submit', value='Go')
